# Data Pre-processing

### Step 1 -  Load data and Load packages

In [36]:
import numpy as np
import pandas as pd

# import data
df = pd.read_csv('df.csv', index_col = 0)

### Step 2 - Remove irrelevant columns
We decide to drop irrelevant columns where 'MLS No' and 'Address' are unique of each property, and'Status' and 'City' are same for all properties. And since the type of the values 'Unit' are hard to unify and there are too many missing value for 'Unit', we also decide to drop it.

In [37]:
# we first remove irrelevant columns from our data set
df = df.drop(columns = ['MLS No', 'Status', 'Address', 'Unit','City'])

### Step 3 - Identify Categorical and Numerical categories

### Step 4 - Convert data type

In [38]:
# change the type of LP and SP to numeric
def remove(text):
    return text.replace('$','')
def removedot(text):
    return text.replace(',','')
df['LP'] = pd.to_numeric(df['LP'].apply(remove).apply(removedot))
df['SP'] = pd.to_numeric(df['SP'].apply(remove).apply(removedot))

# Data Processing

### Step 1 - Check data duplication

In [39]:
#check if there is duplicated line
print('Number of Duplicated rows:',sum(df.duplicated()))

Number of Duplicated rows: 0

### Step 2 - Split data set

In [40]:
# Change closing date to datetime
df['Closing Date'] = pd.to_datetime(df['Closing Date'])
df = df.sort_values(by = 'Closing Date', ignore_index=True)

# pre-split of train and test set, where first 70% of data to train (by closing data) and 30% recent data to test
train = df.iloc[0:7000]
test = df.iloc[7000:]
train.to_csv('train.csv')
test.to_csv('test.csv')

In [41]:
train

,DOM,LP,SP,BT,SqFt,BR,Bth,Gar,GarSp,YrBlt,HOA Fee,Freq,Closing Date,Age,Area,Zip
0,17,769000,759000,CO,1257,2,2,Y,2.0,1999.0,341,NaN,2019-01-02,19.0,Santa Teresa,95138
1,0,750000,750000,TH,1444,2,2,Y,2.0,1979.0,350,NaN,2019-01-02,39.0,Berryessa,95131
2,7,750000,785000,TH,1655,3,2,Y,2.0,1982.0,445,NaN,2019-01-02,36.0,Santa Teresa,95139
3,15,674888,723000,DE,1408,3,3,NaN,0.0,1953.0,NaN,NaN,2019-01-02,65.0,Alum Rock,95127
4,51,649000,636000,CO,922,2,2,NaN,0.0,1988.0,460,NaN,2019-01-02,30.0,Campbell,95128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,7,985000,1108000,DE,1260,3,2,Y,2.0,1955.0,NaN,NaN,2020-12-22,65.0,Santa Clara County,95124
6996,4,849000,822000,CO,1622,2,2,Y,2.0,1998.0,726,M,2020-12-22,22.0,Central San Jose,95112
6997,1,715000,766000,CO,1168,2,2,Y,2.0,1996.0,260,M,2020-12-22,24.0,South San Jose,95136
6998,9,887999,894000,DE,1568,4,2,Y,2.0,1998.0,50,M,2020-12-22,22.0,South San Jose,95111
6999,6,889500,905000,CO,1464,2,2,NaN,0.0,2013.0,210,M,2020-12-22,8.0,Berryessa,95132

In [42]:
test

,DOM,LP,SP,BT,SqFt,BR,Bth,Gar,GarSp,YrBlt,HOA Fee,Freq,Closing Date,Age,Area,Zip
7000,12,889500,905000,CO,1464,2,2,Y,2.0,2013.0,210,M,2020-12-22,7.0,Berryessa,95132
7001,6,799999,935000,DE,1398,4,2,Y,2.0,1971.0,NaN,NaN,2020-12-22,49.0,Evergreen,95148
7002,11,799998,860000,DE,1353,3,2,Y,2.0,1971.0,NaN,NaN,2020-12-23,49.0,Alum Rock,95127
7003,25,549000,550000,CO,1094,2,2,NaN,0.0,1991.0,463,M,2020-12-23,29.0,South San Jose,95122
7004,10,949000,985000,DE,1065,3,2,Y,2.0,1971.0,NaN,NaN,2020-12-23,49.0,Blossom Valley,95123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,28,619000,620000,CO,850,2,2,Y,1.0,1992.0,349,M,2021-10-08,29.0,Santa Teresa,95138
9996,18,888000,912000,DE,1272,3,2,Y,2.0,1915.0,NaN,NaN,2021-10-08,106.0,Central San Jose,95116
9997,33,739950,735000,CO,1006,2,2,NaN,0.0,1991.0,400,M,2021-10-08,30.0,Campbell,95128
9998,5,667053,675000,CO,1233,2,2,Y,1.0,1985.0,535,M,2021-10-08,36.0,Blossom Valley,95123
9999,24,699000,715000,TH,1093,2,2,Y,1.0,1992.0,349,M,2021-10-08,29.0,Santa Teresa,95138

### Step 3 - Process missing data

In [43]:
#Train Data
#Garage - categorize null as a category
train['Gar'] = train['Gar'].fillna('N/A')
#Frequency - convert missing as a category
train['Freq'] = train['Freq'].fillna('N/A')
#Garage Space - drop rows with missing value
#Year Built - drop rows with missing value
train = train.dropna(subset=['GarSp','YrBlt'])
#Age - fill with the time difference in year between YrBlt and Closing Date
train['Age'] = train['Age'].fillna(pd.DatetimeIndex(train['Closing Date']).year - train['YrBlt'])
#summarize train data set
print(train.info())
#preview data set
train.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6990 entries, 0 to 6999
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DOM           6990 non-null   int64
 1   LP            6990 non-null   int64
 2   SP            6990 non-null   int64
 3   BT            6990 non-null   object
 4   SqFt          6990 non-null   int64
 5   BR            6990 non-null   int64
 6   Bth           6990 non-null   int64
 7   Gar           6990 non-null   object
 8   GarSp         6990 non-null   float64
 9   YrBlt         6990 non-null   float64
 10  HOA Fee       3876 non-null   object
 11  Freq          6990 non-null   object
 12  Closing Date  6990 non-null   datetime64[ns]
 13  Age           6990 non-null   float64
 14  Area          6990 non-null   object
 15  Zip           6990 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(6), object(6)
memory usage: 928.4+ KB
None

,DOM,LP,SP,BT,SqFt,BR,Bth,Gar,GarSp,YrBlt,HOA Fee,Freq,Closing Date,Age,Area,Zip
0,17,769000,759000,CO,1257,2,2,Y,2.0,1999.0,341,N/A,2019-01-02,19.0,Santa Teresa,95138
1,0,750000,750000,TH,1444,2,2,Y,2.0,1979.0,350,N/A,2019-01-02,39.0,Berryessa,95131
2,7,750000,785000,TH,1655,3,2,Y,2.0,1982.0,445,N/A,2019-01-02,36.0,Santa Teresa,95139
3,15,674888,723000,DE,1408,3,3,N/A,0.0,1953.0,NaN,N/A,2019-01-02,65.0,Alum Rock,95127
4,51,649000,636000,CO,922,2,2,N/A,0.0,1988.0,460,N/A,2019-01-02,30.0,Campbell,95128

In [44]:
#Test Data
#Garage - categorize null as a category
test['Gar'] = test['Gar'].fillna('N/A')
#Frequency - convert missing as a category
test['Freq'] = test['Freq'].fillna('N/A')
#Garage Space - drop rows with missing value
#Year Built - drop rows with missing value
test = test.dropna(subset=['GarSp','YrBlt'])
#Age - fill na with the time difference in year between YrBlt and Closing Date
test['Age'] = test['Age'].fillna(pd.DatetimeIndex(test['Closing Date']).year - test['YrBlt'])
#summarize test data set
print(test.info())
#preview data set
test.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2996 entries, 7000 to 9999
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DOM           2996 non-null   int64
 1   LP            2996 non-null   int64
 2   SP            2996 non-null   int64
 3   BT            2996 non-null   object
 4   SqFt          2996 non-null   int64
 5   BR            2996 non-null   int64
 6   Bth           2996 non-null   int64
 7   Gar           2996 non-null   object
 8   GarSp         2996 non-null   float64
 9   YrBlt         2996 non-null   float64
 10  HOA Fee       2131 non-null   object
 11  Freq          2996 non-null   object
 12  Closing Date  2996 non-null   datetime64[ns]
 13  Age           2996 non-null   float64
 14  Area          2996 non-null   object
 15  Zip           2996 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(6), object(6)
memory usage: 397.9+ KB
None

,DOM,LP,SP,BT,SqFt,BR,Bth,Gar,GarSp,YrBlt,HOA Fee,Freq,Closing Date,Age,Area,Zip
7000,12,889500,905000,CO,1464,2,2,Y,2.0,2013.0,210,M,2020-12-22,7.0,Berryessa,95132
7001,6,799999,935000,DE,1398,4,2,Y,2.0,1971.0,NaN,N/A,2020-12-22,49.0,Evergreen,95148
7002,11,799998,860000,DE,1353,3,2,Y,2.0,1971.0,NaN,N/A,2020-12-23,49.0,Alum Rock,95127
7003,25,549000,550000,CO,1094,2,2,N/A,0.0,1991.0,463,M,2020-12-23,29.0,South San Jose,95122
7004,10,949000,985000,DE,1065,3,2,Y,2.0,1971.0,NaN,N/A,2020-12-23,49.0,Blossom Valley,95123

In [45]:
train['Zip'] = train['Zip'].values.astype(str)
train['Zip'] = train['Zip'].apply(lambda x: x[0:5])

test['Zip'] = test['Zip'].values.astype(str)
test['Zip'] = test['Zip'].apply(lambda x: x[0:5])

### Step 4 - Data Cleaning

In [46]:
# clean zipcode in training set - use the first 5 digits
train['Zip'] = train['Zip'].values.astype(str)
train['Zip'] = train['Zip'].apply(lambda x: x[0:5])

# clean zipcode in testing set - use the first 5 digits
test['Zip'] = test['Zip'].values.astype(str)
test['Zip'] = test['Zip'].apply(lambda x: x[0:5])

In [47]:
# clean BT 
# count the number of occurence for each building type
train.groupby("BT").size()

BT
CO    2459
DE    3328
DU      14
PV       1
TH    1188
dtype: int64

In [48]:
test.groupby("BT").size()

BT
CO    1418
DE     912
DU       3
TH     663
dtype: int64

Remove the row with type "PV" as it only appear once in our dataset and there are not sufficient explanation for what "PV" stands for from Google and consultant.

In [49]:
# drop the row with "PV"
train = train[train["BT"] != "PV"]

In [50]:
# combine "DE" and "DU", label them as "SFH"  as they are both single family house
train["BT"].replace("DE","SFH",inplace = True)
train["BT"].replace("DU","SFH",inplace = True)

test["BT"].replace("DE","SFH",inplace = True)
test["BT"].replace("DU","SFH",inplace = True)

In [51]:
# check how many unique areas we have in San Jose
train['Area'].unique()

array(['Santa Teresa', 'Berryessa', 'Alum Rock', 'Campbell',
       'Blossom Valley', 'Evergreen', 'Cambrian', 'Willow Glen',
       'Central San Jose', 'South San Jose', 'Santa Clara County',
       'Cupertino', 'Almaden Valley', 'Alviso (Santa Clara County)',
       'Santa Clara', 'All Other Counties/States'], dtype=object)

In [52]:
# check the different naming of area (containing San Jose) with same zip code
train.loc[train['Area'].str.contains('San Jose')].groupby(['Zip','Area']).size()

Zip    Area
95110  Central San Jose    222
95111  South San Jose      480
95112  Central San Jose    382
       South San Jose        8
95113  Central San Jose     24
95116  Central San Jose     68
       South San Jose       28
95121  South San Jose       97
95122  South San Jose      131
95125  South San Jose       27
95126  Central San Jose    196
95128  Central San Jose     93
95131  Central San Jose      1
95136  South San Jose      180
dtype: int64

In [53]:
# check the different naming of area (containing Santa Clara) with same zip code
train.loc[train['Area'].str.contains('Santa Clara')].groupby(['Zip','Area']).size()

Zip    Area
95002  Alviso (Santa Clara County)     2
95110  Santa Clara County             16
95111  Santa Clara                     1
       Santa Clara County             33
95112  Santa Clara County             13
95116  Santa Clara County             18
95117  Santa Clara County              3
95118  Santa Clara County              7
95119  Santa Clara County              3
95121  Santa Clara                     1
       Santa Clara County             11
95122  Santa Clara                     3
       Santa Clara County             19
95123  Santa Clara County             36
95124  Santa Clara                     1
       Santa Clara County              3
95125  Santa Clara County             10
95126  Santa Clara                    34
       Santa Clara County              5
95127  Santa Clara                     1
       Santa Clara County             36
95128  Santa Clara                    12
       Santa Clara County              6
95129  Santa Clara County              1
95131  Santa Clara County             13
95132  Santa Clara                     2
       Santa Clara County             10
95133  Santa Clara County             21
95134  Alviso (Santa Clara County)    38
       Santa Clara                     2
95135  Santa Clara County              3
95136  Santa Clara                     2
       Santa Clara County             14
95138  Santa Clara County              8
95139  Santa Clara County              3
95148  Santa Clara County             10
95217  Santa Clara County              1
dtype: int64

In [54]:
# Unify all area containing Santa Clara to 'Santa Clara County'
train['Area'][train['Area'].str.contains('Santa Clara')] = 'Santa Clara County'
test['Area'][test['Area'].str.contains('Santa Clara')] = 'Santa Clara County'

# Data Engineering:

In [55]:
# import package to ignore warning
import warnings
warnings.filterwarnings('ignore')

In [56]:
# extract month and data from closing data
train['month_of_date'] = train['Closing Date'].dt.month
test['month_of_date'] = test['Closing Date'].dt.month

In [57]:
import math

# write a function to calculate the week number given a closing date 
def add_week_of_month(df):
    df['week_in_month'] = pd.to_numeric(df['Closing Date'].dt.day/7)
    df['week_in_month'] = df['week_in_month'].apply(lambda x: math.ceil(x))
    return df

In [58]:
# use train set to call function
add_week_of_month(train)

,DOM,LP,SP,BT,SqFt,BR,Bth,Gar,GarSp,YrBlt,HOA Fee,Freq,Closing Date,Age,Area,Zip,month_of_date,week_in_month
0,17,769000,759000,CO,1257,2,2,Y,2.0,1999.0,341,N/A,2019-01-02,19.0,Santa Teresa,95138,1,1
1,0,750000,750000,TH,1444,2,2,Y,2.0,1979.0,350,N/A,2019-01-02,39.0,Berryessa,95131,1,1
2,7,750000,785000,TH,1655,3,2,Y,2.0,1982.0,445,N/A,2019-01-02,36.0,Santa Teresa,95139,1,1
3,15,674888,723000,SFH,1408,3,3,N/A,0.0,1953.0,NaN,N/A,2019-01-02,65.0,Alum Rock,95127,1,1
4,51,649000,636000,CO,922,2,2,N/A,0.0,1988.0,460,N/A,2019-01-02,30.0,Campbell,95128,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,7,985000,1108000,SFH,1260,3,2,Y,2.0,1955.0,NaN,N/A,2020-12-22,65.0,Santa Clara County,95124,12,4
6996,4,849000,822000,CO,1622,2,2,Y,2.0,1998.0,726,M,2020-12-22,22.0,Central San Jose,95112,12,4
6997,1,715000,766000,CO,1168,2,2,Y,2.0,1996.0,260,M,2020-12-22,24.0,South San Jose,95136,12,4
6998,9,887999,894000,SFH,1568,4,2,Y,2.0,1998.0,50,M,2020-12-22,22.0,South San Jose,95111,12,4
6999,6,889500,905000,CO,1464,2,2,N/A,0.0,2013.0,210,M,2020-12-22,8.0,Berryessa,95132,12,4

In [59]:
# use test set to call function
add_week_of_month(test)

,DOM,LP,SP,BT,SqFt,BR,Bth,Gar,GarSp,YrBlt,HOA Fee,Freq,Closing Date,Age,Area,Zip,month_of_date,week_in_month
7000,12,889500,905000,CO,1464,2,2,Y,2.0,2013.0,210,M,2020-12-22,7.0,Berryessa,95132,12,4
7001,6,799999,935000,SFH,1398,4,2,Y,2.0,1971.0,NaN,N/A,2020-12-22,49.0,Evergreen,95148,12,4
7002,11,799998,860000,SFH,1353,3,2,Y,2.0,1971.0,NaN,N/A,2020-12-23,49.0,Alum Rock,95127,12,4
7003,25,549000,550000,CO,1094,2,2,N/A,0.0,1991.0,463,M,2020-12-23,29.0,South San Jose,95122,12,4
7004,10,949000,985000,SFH,1065,3,2,Y,2.0,1971.0,NaN,N/A,2020-12-23,49.0,Blossom Valley,95123,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,28,619000,620000,CO,850,2,2,Y,1.0,1992.0,349,M,2021-10-08,29.0,Santa Teresa,95138,10,2
9996,18,888000,912000,SFH,1272,3,2,Y,2.0,1915.0,NaN,N/A,2021-10-08,106.0,Central San Jose,95116,10,2
9997,33,739950,735000,CO,1006,2,2,N/A,0.0,1991.0,400,M,2021-10-08,30.0,Campbell,95128,10,2
9998,5,667053,675000,CO,1233,2,2,Y,1.0,1985.0,535,M,2021-10-08,36.0,Blossom Valley,95123,10,2
9999,24,699000,715000,TH,1093,2,2,Y,1.0,1992.0,349,M,2021-10-08,29.0,Santa Teresa,95138,10,2